@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Teko';
  src: local('Teko'), url(./fonts/Teko.ttf);
}

body {
  margin: 0;
  background-color: rgb(31 41 55);
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgPlaceholder{ 
  background-color: #eee;
  display: flex;
  height: 100px;
  margin: 0.5rem;
  width: 66px;
  align-items: center;
  justify-content: center;
  text-align: center;
}
